<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/popup.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/popup.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>