<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/popup.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="lib/coloris.min.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="lib/coloris.min.js"></script>
        <script src="js/popup.js"></script>
        <script src="js/utils.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>