<div class="container">
    <canvas id="canvas"></canvas>
    <div class="navbar">
        <div id="github">
            <a href="https://github.com/Kuucheen/r-place" target="_blank">
                <img src="res/github.png" width="41px" height="41px" alt="Github Button">
            </a>
        </div>

        <div id="pix-color-container">
            <div id="pixelcount" class="pc-number">5:00</div>
            <div id="colors">
                <div class="color-selector active" style="background-color: rgb(217, 217, 217);" title="Pomodoro"></div>
                <div class="color-selector" style="background-color: rgb(243, 83, 83);" title="Watermelon"></div>
                <div class="color-selector" style="background-color: rgb(255, 155, 60);" title="Tangerine"></div>
                <div class="color-selector" style="background-color: rgb(255, 211, 53);" title="Sunshine"></div>
                <div class="color-selector" style="background-color: rgb(38, 194, 129);" title="Mint"></div>
                <div class="color-selector" style="background-color: rgb(43, 144, 239);" title="Glacier"></div>
                <div class="color-selector" style="background-color: rgb(106, 70, 250);" title="Blueberry"></div>
                <div class="color-selector" style="background-color: rgb(176, 93, 217);" title="Lavender"></div>
                <div class="color-selector" style="background-color: rgb(68, 68, 68);" title="Onyx"></div>

                <div class="color-selector" id="colorpicker" style="background-color: #3d4dc7;" title="Selector"></div>
            </div>
        </div>


        <div id="copyright">
            © 2023 Daniel Schneeweis, Tobias Madlberger
        </div>
    </div>
    <div id="clr-parent"></div>
</div>
<div id="popup-container"></div>

<script type="module" src="js/renderer.js"></script>
<script type="module" src="js/chunkedImage.js"></script>
<script type="module" src="js/index.js"></script>
