<div class="container">
    <canvas id="canvas"></canvas>
    <div class="navbar">
        <div class="pixelcount">
            <div id="pc-number" class="pc-number"></div>
        </div>
        <div>
            <div class="color-selector" style="background-color: rgb(217, 217, 217);" title="Pomodoro"></div>
            <div class="color-selector" style="background-color: rgb(243, 83, 83);" title="Pomodoro"></div>
            <div class="color-selector" style="background-color: rgb(255, 155, 60);" title="Tangerine"></div>
            <div class="color-selector" style="background-color: rgb(255, 211, 53);" title="Sunshine"></div>
            <div class="color-selector" style="background-color: rgb(38, 194, 129);" title="Mint"></div>
            <div class="color-selector" style="background-color: rgb(43, 144, 239);" title="Glacier"></div>
            <div class="color-selector" style="background-color: rgb(106, 70, 250);" title="Blueberry"></div>
            <div class="color-selector" style="background-color: rgb(176, 93, 217);" title="Lavender"></div>
            <div class="color-selector" style="background-color: rgb(68, 68, 68);" title="Onyx"></div>
        </div>
        <div id="copyright">
            © 2023 Daniel Schneeweis, Tobias Madlberger
        </div>
    </div>
</div>
<script type="module" src="js/index.js"></script>
