<canvas id="canvas"></canvas>
<div class="navbar">
    <div class="timer">
        Next pixel:
    </div>
    <div class="pixelcount">
        <img src="res/infinity.png" width="41px" height="41px" alt="Pixel Left">
        <!-- Icon from Dewi Sari -->
        <div class="pc-number"></div>
    </div>
    <div>
        <div class="color-selector" style="background-color: rgb(217, 217, 217);" title="Pomodoro"></div>
        <div class="color-selector" style="background-color: rgb(243, 83, 83);" title="Pomodoro"></div>
        <div class="color-selector" style="background-color: rgb(255, 155, 60);" title="Tangerine"></div>
        <div class="color-selector" style="background-color: rgb(255, 211, 53);" title="Sunshine"></div>
        <div class="color-selector" style="background-color: rgb(38, 194, 129);" title="Mint"></div>
        <div class="color-selector" style="background-color: rgb(43, 144, 239);" title="Glacier"></div>
        <div class="color-selector" style="background-color: rgb(106, 70, 250);" title="Blueberry"></div>
        <div class="color-selector" style="background-color: rgb(176, 93, 217);" title="Lavender"></div>
        <div class="color-selector" style="background-color: rgb(68, 68, 68);" title="Onyx"></div>
    </div>
</div>
<script type="module" src="js/index.js"></script>
